@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    --primary: #aa261b;
    --secondary: #fdc722;
    --gray: #f0f2f5;
    --darker-gray: #9c9c9c;
    --blue: #337ab7;

    --header-height: 110px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

h1 {
    text-align: center;
    color: #1a1a1a;
    font-size: 2rem;
    font-weight: 500;
}
label {
    display: block;
    color: #1a1a1a;
    font-size: 1.5rem;
}

input,
select {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: #f1f3f4;
    border-radius: 4px;
    font-size: 1.4rem;
    transition: background-color 0.2s ease;
    margin: 2px 0;
}

input:focus {
    outline: 2px solid var(--blue);
    background-color: #e8eaed;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input:read-only,
select:read-only {
    background-color: #e9ecef; /* Màu nền khác biệt */
    color: #6c757d; /* Màu chữ nhạt */
    cursor: not-allowed; /* Hiển thị icon cấm */
}

input:read-only:focus,
select:read-only:focus {
    outline: none; /* Loại bỏ viền khi focus */
    background-color: #e9ecef; /* Giữ nguyên màu nền */
}

input::placeholder {
    color: #70757a;
}

a {
    text-decoration: none;
}

/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.required:after {
    content: ' *';
    color: red;
}

.flexRow {
    display: flex;
    align-items: center;
}
